asgiref
certifi
charset-normalizer
Django
gunicorn
idna
mysql
mysql-connector-python
mysqlclient
packaging
PyMySQL
python-dotenv
requests
sqlparse
style
tabulate
types-tabulate
tzdata
update
urllib3
